{% extends 'layout/base.html' %}
{% block title %}LogIn{% endblock title %}

{% block content %}


{# Display a form #}

<form method="POST">{%csrf_token%}


    <div class="card mark text-center">
  <div class="card-header">
    <h1 style="color:#00d1b2; margin: 0 auto; font-size: 40px;">LogIn</h1>
  </div>
  <div class="card-body">
    {% if msg %}
      <p><span class="text-danger">{{ msg | safe }}</span></p>
    {% endif %}

    
                
        <label><h5>Username</h5></label><br>
        {{form.username}}<br>
        <label><h5>Password</h5></label><br>
        {{form.password}}
      </div>
      <div class="card-footer text-muted">
        <input type="submit" name="login">
      </div>
      Don't have an account? <a href="{%url 'register'%} " class="textq"><b style="color:green;">Create One!</b></a>
      </div>
      </form>
{% endblock content %}


